@import "tailwindcss";
/* Sembunyikan scrollbar untuk Chrome, Safari dan Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Sembunyikan scrollbar untuk IE, Edge dan Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@keyframes slide-out-bottom {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(40px);
    opacity: 0;
    max-height: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
}
.animate-delete {
  animation: slide-out-bottom 0.4s ease forwards;
  pointer-events: none; /* Biar gak bisa di-klik pas lagi proses hapus */
}

@keyframes spin-once {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
